@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sansation-regular";
  src: url("/font/Sansation_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Sansation-regular", sans-serif;
}
